<div class="row">
    <div class="col-md-12">
        <div *ngIf="options.length">
            <p-panel class="col-md-6"
                     *ngFor="let option of options;"
                     header="{{option.name}}"
                     [toggleable]="true">
                <app-chart [options]="option ? option : {}"
                           [data]="option ? option.data : []"></app-chart>
            </p-panel>
        </div>
        <div *ngIf="!options.length">
            <div class="load" *ngIf="loading">
                Загрузка...
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
            <div *ngIf="!loading">
                <h3 class="alert alert-danger">За выбранный период данные отсутствуют, измените параметры
                    фильтра.</h3>
            </div>
        </div>
    </div>
</div>