<table *ngIf="table" class="table table-striped">
    <thead>
    <tr>
        <th class="text-center">Дата</th>
        <th *ngFor="let key of keys">
            {{table.headers[key].name}} ({{table.headers[key].unit}})
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of table.rows" [hidden]="move && row['speed'] == 0">
        <th>
            {{row['time'] | date: 'dd.MM.yyyy H:mm:ss'}}
        </th>
        <td *ngFor="let key of keys" [hidden]="key === 'criticals'">
            {{row[key]}}
        </td>
    </tr>
    </tbody>
</table>
