<div class="load" *ngIf="loading">
    {{ 'dashboard.loading' | translate }}
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
</div>
<p-dataTable *ngIf="table && !loading" [value]="table.rows" scrollable="true" scrollHeight="400px">
    <p-column header="{{ 'dashboard.time' | translate }}" field="time" sortable="custom" (sortFunction)="sort($event)">
        <ng-template let-row="rowData" pTemplate="body">
            {{row['time'] | date: 'dd.MM.yyyy H:mm:ss'}}
        </ng-template>
    </p-column>
    <p-column footer="{{table.headers[key]?.model}} {{table.headers[key]?.port}}" *ngFor="let key of keys" header="{{table.headers[key].name}} ({{table.headers[key].unit}})"
              field="{{key}}" sortable="custom"
              (sortFunction)="sort($event)">
        <ng-template let-row="rowData" pTemplate="body">
            <div [class.alert-warning]="row['criticals'].warning !== undefined && row['criticals'].warning.indexOf(key) !== -1"
                 [class.alert-danger]="row['criticals'].danger !== undefined && row['criticals'].danger.indexOf(key) !== -1">
                {{row[key]}}
            </div>
        </ng-template>
    </p-column>
</p-dataTable>
<p-paginator *ngIf="table && table.pagination" rows="100" totalRecords="{{table.pagination.total*100}}"
             (onPageChange)="paginate($event)"></p-paginator>