.vertical-text {
    float: left;
    border: 10px solid transparent;
    width: 0;
    height: 0;
    transform: translateX(-10px);
}

._green {
    border-top: 0;
    border-bottom-color: #5cb85c;
}

._orange {
    border-bottom: 0;
    border-top-color: #f0ad4e;
}

._red {
    transform: translateX(-14px);
    border-top: 0;
    border-bottom-color: #d9534f;
}

.progress-width {
    width: 80%;
    margin: 15px auto;
}

.clearfix {
    overflow: auto;
}

.text-transform {
    position: absolute;
    margin-top: 10px;
    width: 100px;
    margin-left: -50px;
}

.text-transform-orange {
    position: absolute;
    margin-top: 10px;
    width: 100px;
    margin-left: -50px;
    bottom: 10px;
}
