<p-panel *ngIf="car && car.engine && status" header="Двигатель: {{car.engine.name}}, шасси: {{car.name}}" [toggleable]="true">
    <table class="table table-striped">
        <tbody>
        <tr *ngFor="let sensor of status.sensors">
            <td>{{sensor.name}}</td>
            <td *ngIf="!status.issue_locations.hasOwnProperty(sensor.id)">
                <span class="label label-success">норма</span>
            </td>
            <td *ngIf="status.issue_locations.hasOwnProperty(sensor.id)">
                <div *ngFor="let error of showError(sensor.id)" style="cursor: pointer;" (click)="showDetailsError(error.key)">
                    <span class="label label-danger">{{error.name}}</span>
                    <i class="fa fa-question-circle-o" aria-hidden="true">&nbsp;подробнее</i>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-sm" routerLink="/dashboard/view/{{car.id}}/charts">Подробнее</button>
</p-panel>
<p-dialog header="Информация о неисправности" modal="modal" width="600" [(visible)]="detailsError">
    <h3>Возможные причины:</h3>
    <div *ngFor="let reason of reasons" class="alert alert-success">
        {{reason}}
    </div>
    <h3>Решение:</h3>
    <div *ngFor="let solution of solutions" class="alert alert-danger">
        {{solution}}
    </div>
</p-dialog>
