<p-panel *ngIf="car && car.engine && status" header="Двигатель: {{car.engine.name}}, шасси: {{car.name}}" [toggleable]="true">
    <table class="table table-striped">
        <tbody>
        <tr *ngFor="let sensor of status.sensors">
            <td>{{sensor.name}}</td>
            <td *ngIf="!status.issue_locations.hasOwnProperty(sensor.id)">
                <span class="label label-success">норма</span>
            </td>
            <td *ngIf="status.issue_locations.hasOwnProperty(sensor.id)">
                <div *ngFor="let error of showError(sensor.id)" style="cursor: pointer;" (click)="showDetailsError(error.key)">
                    <span class="label label-danger">{{error.name}}</span>
                    <i class="fa fa-question-circle-o" aria-hidden="true">&nbsp;подробнее</i>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-sm" routerLink="/dashboard/view/{{car.id}}/charts">Подробнее</button>
    <div style="float: right">
        <button *ngIf="!isMuted()" class="btn btn-success" (click)="mute()">
            <span class="fa fa-music"></span>
        </button>
        <button *ngIf="isMuted()" class="btn btn-danger" (click)="unMute()">
            <span class="fa fa-music"></span>
        </button>
    </div>
</p-panel>
<p-dialog header="{{forecast}}" modal="modal" width="600" [(visible)]="detailsError">
    <div class="progress">
        <div class="progress-bar progress-bar-success" [style.width]="greenProgressWidth() + '%'"></div>
        <div class="progress-bar progress-bar-warning progress-bar-striped" [style.width]="orangeProgressWidth() + '%'"></div>
        <div class="progress-bar progress-bar-danger" [style.width]="redProgressWidth() + '%'"></div>
    </div>
    <h3 *ngIf="reasons.length">Возможные причины:</h3>
    <div *ngFor="let reason of reasons" class="alert alert-success">
        {{reason}}
    </div>
    <h3 *ngIf="solutions.length">Решение:</h3>
    <div *ngFor="let solution of solutions" class="alert alert-danger">
        {{solution}}
    </div>
</p-dialog>
