<fieldset *ngIf="company" class="input-group">
  <label for="name">Название:</label><br/>
  <input class="input-sm" id="name" type="text" [(ngModel)]="company.name" pInputText value="{{company.name}}"/><br/>
  <label for="active_till">Дата блокировки аккаунта:</label><br/>
  <p-calendar id="active_till" [(ngModel)]="company.active_till" showTime="showTime" hourFormat="24" [locale]="ru"></p-calendar>
  <hr/>
  <button class="btn btn-success" pButton type="button" (click)="save()" label="Сохранить"></button>
</fieldset>
