<div class="row">
    <div class="col-md-12">
        <p-tabView>
            <p-tabPanel header="Состояние">
                <p-accordion *ngIf="subdivisions.length" [multiple]="true">
                    <p-accordionTab *ngFor="let subdivision of subdivisions" header="{{subdivision.name}}"
                                    [selected]="true">
                        <div class="row">
                            <div *ngIf="!subdivision.cars.length" class="col-md-pull-12">
                                Машины отсутствуют
                            </div>
                            <div *ngIf="subdivision.cars.length">
                                <div *ngFor="let car of subdivision.cars; let even = even; let odd = odd">
                                    <app-monitoring class="col-md-6" [car]="car"></app-monitoring>
                                    <hr *ngIf="odd"/>
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
                <div *ngIf="!subdivisions.length" class="alert alert-danger">
                    Нет данных о состоянии
                </div>
            </p-tabPanel>
            <p-tabPanel header="Карта">
                <app-ymaps *ngIf="mapCars.length" [cars]="mapCars" [polyLines]="mapPolyLines" [zoom]="4"></app-ymaps>
                <div *ngIf="!mapCars.length" class="alert alert-danger">
                    Нет данных для карты
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
