<div class="row">
    <div class="col-md-12">
        <p-tabView *ngIf="car">
            <p-tabPanel header="Информация" class="panel">
                <div class="row">
                    <div class="col-md-6">
                        Данные по {{car.name}}<br/>
                        Двигатель:
                        <span *ngIf="engine.id">{{engine.name}}</span>
                        <span *ngIf="!engine.id">отсутствует</span>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                Автообновление данных:
                            </div>
                            <div class="col-md-6">
                                <p-inputSwitch [disabled]="filter.enabled && !filter.last"
                                               [(ngModel)]="autoRefresh.enabled"
                                               (onChange)="autoRefreshChange($event)" onLabel="да"
                                               offLabel="нет"></p-inputSwitch>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                Режим отображения:
                            </div>
                            <div class="col-md-6">
                                <p-toggleButton onLabel="Сеткой" offLabel="Списком"
                                                onIcon="fa-th-large" offIcon="fa-align-justify"
                                                [(ngModel)]="viewMode">
                                </p-toggleButton>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Фильтр">
                <div class="row">
                    <div class="col-md-12">
                        <app-filter *ngIf="filter" [filter]="filter" [car]="car"></app-filter>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Карта">
                <div class="row">
                    <div class="col-md-12">
                        <app-ymaps [cars]="mapCars" [polyLines]="mapPolyLines"></app-ymaps>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Таблица">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <div *ngIf="options.length">
            <p-panel [class.col-md-6]="viewMode"
                     *ngFor="let option of options;"
                     header="{{option.name}}"
                     [toggleable]="true">
                <app-chart [options]="option ? option : {}"
                           [data]="option ? option.data : []"></app-chart>
            </p-panel>
        </div>
        <div *ngIf="!options.length">
            <div class="load" *ngIf="loading">
                Загрузка...
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
            <div *ngIf="!loading">
                <h3 class="alert alert-danger">За выбранный период данные отсутствуют, измените параметры
                    фильтра.</h3>
            </div>
        </div>
    </div>
</div>
