<div class="container">
    <div class="form-signin">
        <h2 class="form-signin-heading">Авторизация</h2>
        <label for="inputLogin" class="sr-only">Имя пользователя</label>
        <input [value]="auth.email" type="login" id="inputLogin" class="form-control" placeholder="Имя пользователя" required autofocus>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input [value]="auth.password" type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" [value]="auth.remember"> Запомнить меня
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">Войти</button>
    </div>
</div>