<p-panel *ngIf="state && car" header="{{ 'dashboard.stateOn' | translate: {value: car.name} }}" [toggleable]="toggleable">
    <div>
        <div class="alert alert-danger" *ngFor="let issue of state.issues">
            <div class="text-left">
                <span class="fa fa-warning">&nbsp;</span>
                <strong>{{issue.name.message | translate: (issue.name.sources | TranslateWithSource)}}</strong>
            </div>
            <div class="text-left" *ngIf="issue.forecast.length">{{ 'dashboard.forecast' | translate }}:</div>
            <ul>
                <li *ngFor="let forecast of issue.forecast">
                    {{forecast.name | translate}}
                </li>
            </ul>
            <hr/>
            <div class="text-right">
                <button *ngIf="!isMuted(issue.id)" class="btn btn-success" (click)="mute(issue.id)">
                    <span class="fa fa-music">&nbsp;</span>
                    {{ 'dashboard.enabled' | translate }}
                </button>
                <button *ngIf="isMuted(issue.id)" class="btn btn-danger" (click)="unMute(issue.id)">
                    <span class="fa fa-music">&nbsp;</span>
                    {{ 'dashboard.disabled' | translate }}
                </button>
            </div>
        </div>
        <div class="alert alert-success" *ngIf="!state.issues.length">
            <span class="fa fa-check">&nbsp;</span>{{ 'dashboard.noProblemsFound' | translate }}
        </div>
    </div>
    <div class="alert alert-success">
        <div>
            {{ 'dashboard.imei' | translate }}:
            <span class="badge alert-success">{{state.imei}}</span>
        </div>
        <div>
            {{ 'dashboard.status' | translate }}:
            <span *ngIf="online(state)" class="badge alert-success">{{ 'dashboard.online' | translate }}</span>
            <span *ngIf="!online(state)" class="badge alert-danger">{{ 'dashboard.offline' | translate }}</span>
        </div>
        <div>
            {{ 'dashboard.engine' | translate }}:
            <span *ngIf="state.engine" class="badge alert-success">{{ 'dashboard.working' | translate }}</span>
            <span *ngIf="!state.engine" class="badge alert-danger">{{ 'dashboard.muffled' | translate }}</span>
        </div>
        <div *ngIf="!compact">
            {{ 'dashboard.gsm' | translate }}:
            <span *ngIf="state.gsm" class="badge alert-success">{{ 'dashboard.on' | translate }}</span>
            <span *ngIf="!state.gsm" class="badge alert-danger">{{ 'dashboard.off' | translate }}</span>
        </div>
        <div *ngIf="!compact">
            {{ 'dashboard.time' | translate }}:
            <span *ngIf="state.watch" class="badge alert-success">{{ 'dashboard.synchronized' | translate }}</span>
            <span *ngIf="!state.watch" class="badge alert-danger">{{ 'dashboard.notSynchronized' | translate }}</span>
        </div>
        <div *ngIf="!compact">
            {{ 'dashboard.network' | translate }}:
            <span *ngIf="state.network" class="badge alert-success">{{ 'dashboard.on' | translate }}</span>
            <span *ngIf="!state.network" class="badge alert-danger">{{ 'dashboard.off' | translate }}</span>
        </div>
        <div *ngIf="!compact">
            {{ 'dashboard.signal' | translate }}: {{state.networkSignal}}%
        </div>
        <div *ngIf="!compact">
            {{ 'dashboard.roaming' | translate }}:
            <span *ngIf="state.roaming" class="badge alert-danger">{{ 'dashboard.yes' | translate }}</span>
            <span *ngIf="!state.roaming" class="badge alert-success">{{ 'dashboard.no' | translate }}</span>
        </div>
        <div *ngIf="!compact">
            {{ 'dashboard.power' | translate }}:
            <span class="badge alert-success">{{state.battery.powerVoltage}} {{"unit.volt" | translate}} / {{state.battery.chargeVoltage}} {{"unit.volt" | translate}} ({{state.battery.chargeLevel}}%)</span>
        </div>
        <div *ngIf="!compact">
            {{ 'dashboard.machineHours' | translate }}: {{state.motochas}} {{ 'dashboard.h' | translate }}
            <button type="text" (click)="showMotochasFilter()" pButton label="{{ 'dashboard.filter' | translate }}"></button>
        </div>
    </div>

    <div *ngIf="!compact && state.maintenances && state.maintenances.scheduled && user && user.role">
        <div class="alert" [class.alert-danger]="!scheduled(state)">
            <span *ngIf="scheduled(state)">{{ 'dashboard.toMaintenance' | translate: {value: (state.maintenances.scheduled.limits.hours - state.maintenances.scheduled.value.hours)} }}</span>
            <span *ngIf="!scheduled(state)">{{ 'dashboard.needMaintenance' | translate }}</span>
            <span *ngIf="user && user.role.is_global == 1 && car.engine" class="btn-st">
                <button type="text" (click)="showMaintenanceDialog()" pButton icon="fa-refresh" title="{{ 'dashboard.carryOutMaintenance' | translate }}"></button>
                <button type="text" (click)="showMaintenanceHistory()" pButton icon="fa-info" title="{{ 'dashboard.historyMaintenance' | translate }}"></button>
            </span>
        </div>

        <div class="alert" [class.alert-danger]="!garanted(state)">
            <span *ngIf="garanted(state)">{{ 'dashboard.warrantyServiceIsOver' | translate: { days: (state.maintenances.capital.limits.days - state.maintenances.capital.value.days),
            machineHours: (state.maintenances.capital.limits.hours - state.maintenances.capital.value.hours) } }}</span>
            <span *ngIf="!garanted(state)">
                {{ 'dashboard.warrantyServiceCompleted' | translate }}
            </span>
            <span *ngIf="user && user.role.is_global == 1 && car.engine" class="btn-st">
                <button type="text" class="ui-button-success" (click)="showGarantedDialog()" pButton icon="fa-refresh" title="{{ 'dashboard.extendWarrantyService' | translate }}"></button>
                <button type="text" class="ui-button-success" (click)="showGarantedHistory()" pButton icon="fa-info" title="{{ 'dashboard.historyWarrantyService' | translate }}"></button>
            </span>
        </div>

    </div>
    <div *ngIf="!compact && state">
        <span class="label label-default">{{ 'dashboard.informationFor' | translate: {value: state.time} }}</span>
        <br/>
        <span class="label label-default">{{ 'dashboard.firstInformation' | translate: {value: state.first_event_base} }}</span>
    </div>
</p-panel>
<app-garanted-history (hide)="garantedHistoryHide($event)" [car]="car" [visible]="displayGarantedHistory"></app-garanted-history>
<app-maintenance-history (hide)="maintenanceHistoryHide($event)" [car]="car" [visible]="displayMaintenanceHistory"></app-maintenance-history>
<app-motochas-filter (hide)="motochasFilterHide($event)" [car]="car" [visible]="displayMotochasFilter"></app-motochas-filter>
<app-garanted (hide)="garantedHide($event)" [car]="car" [visible]="displayGaranted"></app-garanted>
<app-maintenance (hide)="maintenanceHide($event)" [car]="car" [visible]="displayMaintenance"></app-maintenance>