<p-panel *ngIf="state && car" header="Состояние {{car.name}}" [toggleable]="toggleable">
    <div>
        <div class="alert alert-danger" *ngFor="let issue of state.issues">
            <div class="text-left">
                <span class="fa fa-warning">&nbsp;</span>
                <strong>{{issue.name}}</strong>
            </div>
            <div class="text-left">Прогноз: {{issue.forecast}}</div>
            <hr/>
            <div class="text-right">
                <button *ngIf="!isMuted(issue.id)" class="btn btn-danger" (click)="mute(issue.id)">
                    <span class="fa fa-music">&nbsp;</span>
                    включен
                </button>
                <button *ngIf="isMuted(issue.id)" class="btn btn-success" (click)="unMute(issue.id)">
                    <span class="fa fa-music">&nbsp;</span>
                    отключен
                </button>
            </div>
        </div>
        <div class="alert alert-success" *ngIf="!state.issues.length">
            <span class="fa fa-check">&nbsp;</span>Проблем не обнаружено
        </div>
    </div>
    <div class="alert alert-success">
        <div>
            Статус:
            <span *ngIf="online()" class="badge alert-success">в сети</span>
            <span *ngIf="!online()" class="badge alert-danger">не в сети</span>
        </div>
        <div>
            Двигатель:
            <span *ngIf="state.engine" class="badge alert-success">работает</span>
            <span *ngIf="!state.engine" class="badge alert-danger">заглушен</span>
        </div>
        <div *ngIf="!compact">
            GSM:
            <span *ngIf="state.gsm" class="badge alert-success">вкл</span>
            <span *ngIf="!state.gsm" class="badge alert-danger">выкл</span>
        </div>
        <div *ngIf="!compact">
            Время:
            <span *ngIf="state.watch" class="badge alert-success">синхронизовано</span>
            <span *ngIf="!state.watch" class="badge alert-danger">не синхронизовано</span>
        </div>
        <div *ngIf="!compact">
            Сеть:
            <span *ngIf="state.network" class="badge alert-success">вкл</span>
            <span *ngIf="!state.network" class="badge alert-danger">выкл</span>
        </div>
        <div *ngIf="!compact">
            Сигнал: {{state.networkSignal}}%
        </div>
        <div *ngIf="!compact">
            Роуминг:
            <span *ngIf="state.roaming" class="badge alert-danger">да</span>
            <span *ngIf="!state.roaming" class="badge alert-success">нет</span>
        </div>
        <div *ngIf="!compact">
            Питание:
            <span *ngIf="state.power" class="badge alert-success">да</span>
            <span *ngIf="!state.power" class="badge alert-danger">нет</span>
        </div>
        <div *ngIf="!compact">
            <hr/>
            Моточасы: {{state.motochas}} ч. ({{maintenanceDate()}} д. назад)<br/>
            <div *ngIf="car.engine" class="btn-st">
                <button type="text" (click)="showHistory()" pButton icon="fa-info" label="История сбросов"></button>
                <button type="text" (click)="showDialog()" pButton icon="fa-refresh" label="Сброс"></button>
            </div>
        </div>
    </div>
    <div *ngIf="!compact" class="label label-default">
        Информация за {{state.time}}
    </div>
</p-panel>
<p-blockUI [blocked]="display"></p-blockUI>
<p-dialog header="Сброс моточасов" #dialog [(visible)]="display">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="dialog input-group">
        <label>Дата</label><br/>
        <p-calendar formControlName="date" dateFormat="dd.mm.yy" showTime="showTime" hourFormat="24" required
                    [locale]="ru"></p-calendar>
        <br/>
        <label>Комментарий</label><br/>
        <textarea formControlName="comment" pInputTextarea required></textarea>
        <div class="bottom">
            <button type="submit" class="ui-button-success" [disabled]="!form.valid || submit" icon="fa-check" pButton
                    label="Сбросить"></button>
        </div>
    </form>
</p-dialog>
<p-blockUI [blocked]="displayHistory"></p-blockUI>
<p-dialog header="История сбросов" #dialogHistory [(visible)]="displayHistory">
    <div *ngFor="let h of history" [class.alert-success]="h.active">
        {{h.date | date:'y-MM-dd HH:mm:ss'}} {{h.comment}}
    </div>
</p-dialog>
