<p-toolbar>
    <p-splitButton label="{{ 'admin.companies' | translate }}" (onClick)="company()" [model]="companiesActions"></p-splitButton>&nbsp;
    <p-splitButton label="{{ 'admin.users' | translate }}" (onClick)="users()" [model]="usersActions"></p-splitButton>&nbsp;
    <p-splitButton label="{{ 'admin.roles' | translate }}" (onClick)="roles()" [model]="rolesActions"></p-splitButton>&nbsp;
    <button pButton label="{{ 'admin.monitoring' | translate }}" (click)="monitor()"></button>&nbsp;
    <button pButton label="{{ 'admin.configurator' | translate }}" (click)="configurator()"></button>
</p-toolbar>
<router-outlet></router-outlet>