<div class="row">
    <div class="col-lg-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton type="button" label="Новый пользователь" icon="fa-plus"
                        routerLink="/admin/users/user/create"></button>
                <button pButton type="button" label="Новая роль" icon="fa-plus"
                        routerLink="/admin/users/role/create"></button>
            </div>
        </p-toolbar>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <app-navigation></app-navigation>
    </div>
    <div class="col-lg-9">
        <router-outlet></router-outlet>
    </div>
</div>