<p-blockUI [blocked]="visible"></p-blockUI>

<p-dialog (onHide)="onHide()" (onShow)="onShow()" header="{{ 'dashboard.maintenance' | translate }}" #dialog [(visible)]="visible">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="dialog input-group">
        <label>{{ 'dashboard.date' | translate }} {{ 'dashboard.maintenance' | translate }}</label>
        <br/>
        <p-calendar formControlName="created_at" dateFormat="dd.mm.yy" showTime="showTime" hourFormat="24" required></p-calendar>
        <br/>
        <label>{{ 'dashboard.comment' | translate }}</label>
        <br/>
        <textarea formControlName="comment" pInputTextarea required></textarea>
        <div class="bottom">
            <button type="submit" class="ui-button-success" [disabled]="!form.valid || submit" icon="fa-check" pButton label="{{ 'dashboard.reset' | translate }}"></button>
        </div>
    </form>
</p-dialog>