<div class="row">
    <div class="col-lg-12">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton type="button" label="Новая компания" icon="fa-plus"></button>
                <button pButton type="button" label="Новое подразделение" icon="fa-plus"></button>
                <button pButton type="button" label="Новая машина" icon="fa-plus"></button>
                <button pButton type="button" label="Новый двигатель" icon="fa-plus"></button>
            </div>
        </p-toolbar>
    </div>
    <div class="col-lg-3">
        <app-navigation></app-navigation>
    </div>
    <div class="col-lg-9">
        <router-outlet></router-outlet>
    </div>
</div>