<div class="row">
    <div class="col-md-12">
        <p-tabView *ngIf="car">
            <p-tabPanel header="{{ 'dashboard.information' | translate }}" class="panel">
                <div class="row">
                    <div class="col-md-6">
                        <span>{{ 'dashboard.dataOn' | translate: {value: car.name} }}</span>
                        <br/>
                        <span *ngIf="engine && engineModel">{{ 'dashboard.engine' | translate }} {{engine.esn}} ({{engineModel.name}})</span>
                    </div>
                    <div class="col-md-6">
                        <p-selectButton [options]="viewModeButtons" [(ngModel)]="viewMode" tabindex="1"
                                        (onChange)="viewModeChange($event)"></p-selectButton>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="{{ 'dashboard.filter' | translate }}">
                <div class="row">
                    <div class="col-md-12">
                        <app-filter *ngIf="filter" [filter]="filter" [car]="car"></app-filter>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
        <hr/>
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>