<div class="row">
    <div *ngFor="let s of state" class="item">
        <app-admin-state *ngIf="s.issues.length" class="col-md-3" [state]="s"
                         (showComments)="showComments(s)"></app-admin-state>
    </div>
</div>
<div class="row">
    <div *ngFor="let s of state" class="item">
        <app-admin-state *ngIf="!s.issues.length" class="col-md-3" [state]="s"
                         (showComments)="showComments(s)"></app-admin-state>
    </div>
    <app-admin-modal [car]="car" [show]="showCommentsModal" (hideComments)="hideComments()"></app-admin-modal>
</div>