<h3>Изменение компании</h3>
<fieldset *ngIf="company" class="input-group">
    <label for="name">Название:</label><br/>
    <input class="input-sm" id="name" type="text" [(ngModel)]="company.name" pInputText value="{{company.name}}"/><br/>
    <label for="calendar">Дата блокировки аккаунта:</label><br/>
    <p-calendar id="calendar" [(ngModel)]="calendar" dateFormat="dd.mm.yy" showTime="showTime" hourFormat="24"
                [locale]="ru"></p-calendar>
    <br/>
    <label for="author">Владелец:</label><br/>
    <p-autoComplete id="author" [(ngModel)]="company.author" field="name" disabled="disabled"></p-autoComplete>
    <hr/>
    <button class="ui-button-success" icon="fa-check" pButton type="button" (click)="save()" label="Сохранить"></button>
    <button class="ui-button-danger" icon="fa-trash" pButton type="button" (click)="delete()" label="Удалить"></button>
</fieldset>
