<div *ngIf="companies" class="navigation">
    <h3>Компании</h3>
    <p-tree [value]="companies | tree"
            selectionMode="single"
            [(selection)]="node"
            (onNodeExpand)="onNodeExpand($event)"
            (onNodeSelect)="onNodeSelect($event)">
        <ng-template let-node pTemplate="default">
            <span>{{node.data.name}}</span>
            <span *ngIf="isCar(node.data) && node.data.engine" class="label label-success">
                {{engine.name}}
            </span>
            <span *ngIf="isCar(node.data) && !node.data.engine" class="label label-danger">
                без двигателя
            </span>
        </ng-template>
    </p-tree>
</div>
