<h3>Изменение подразделения</h3>
<form *ngIf="subdivision && form" [formGroup]="form" class="input-group" (ngSubmit)="onSubmit()" novalidate>
    <label for="name">Название:</label><br/>
    <input class="input-sm" id="name" type="text" pInputText formControlName="name"
           placeholder="Название подразделения"/><br/>
    <hr/>
    <button type="submit" class="ui-button-success" [disabled]="!form.valid || submit" icon="fa-check" pButton label="Сохранить"></button>
    <button class="ui-button-danger" icon="fa-trash" pButton type="button" (click)="delete()" label="Удалить"></button>
</form>
