<div class="row">
    <div class="col-md-6">
        <div *ngIf="car">Данные по {{car.name}}</div>
    </div>
    <div class="col-md-6">
        Автообновление данных:&nbsp;<p-inputSwitch [(ngModel)]="aRefresh" (onChange)="autoRefresh($event)" onLabel="да"
                                                   offLabel="нет"></p-inputSwitch>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <app-filter *ngIf="options" [data]="options|DropDown" [car]="car"></app-filter>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div *ngIf="options">
            <app-chart *ngFor="let option of options;" [options]="option" [data]="option.data"></app-chart>
        </div>
        <div *ngIf="!options">
            <div class="loader"></div>
        </div>
    </div>
</div>