<div *ngIf="router.url === '/'" class="container-fluid top-menu">
    <div class="row" style="height: 80px">
        <div class="col-md-6"  style="padding-top: 20px">
            <a href="/"><img src="assets/images/logo.png" height="40px"></a>
        </div>
        <div class="col-md-6">
            <ul *ngIf="user" class="auth pull-left">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard">Личный кабинет</a>
                </li>
                <li *ngIf="user.role.is_global == 1" class="nav-item">
                    <a class="nav-link" routerLink="/admin">Администрирование</a>
                </li>
            </ul>

            <ul class="auth pull-right">
                <li *ngIf="!user"><a href="/login">Войти</a></li>
                <li *ngIf="user"><a href="/logout">Выход</a></li>
            </ul>

            <!--ul class="lang pull-right">
                <li><a href="#" class="btn btn-link">chn</a></li>
                <li><a href="#" class="btn btn-link">eng</a></li>
            </ul!-->
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<nav *ngIf="router.url !== '/'" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">&nbsp;
                <span class="fa fa-home fa-lg"></span>
            </a>
        </div>
        <div id="navbar" class="navbar-default">
            <ul *ngIf="user" class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard">Личный кабинет</a>
                </li>
                <li *ngIf="user.role.is_global == 1" class="nav-item">
                    <a class="nav-link" routerLink="/admin">Администрирование</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!user" class="nav-item">
                    <a class="nav-link" routerLink="/login">Вход</a>
                </li>
                <li class="no-style" *ngIf="user">
                    <a routerLink="/logout">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>