<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">&nbsp;<span class="fa fa-home fa-lg"></span></a>
        </div>
        <div id="navbar" class="navbar-default">
            <ul *ngIf="user" class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard">Личный кабинет</a>
                </li>
                <li *ngIf="user.role.is_global" class="nav-item">
                    <a class="nav-link" routerLink="/admin">Администрирование</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!user" class="nav-item">
                    <a class="nav-link" routerLink="/login">Вход</a>
                </li>
                <li class="no-style" *ngIf="user">
                    <a routerLink="/logout">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
