<h3>Изменение двигателя</h3>
<form *ngIf="form" [formGroup]="form" class="input-group" (ngSubmit)="onSubmit()" novalidate>
  <label for="esn">ESN:</label><br/>
  <input class="input-sm" id="esn" type="text" pInputText formControlName="esn"
         placeholder="ESN"/><br/>
  <label for="model_id">Модель:</label><br/>
  <div *ngIf="models.length">
    <p-dropdown id="model_id" [options]="models | DropDown"
                formControlName="model_id" [filter]="true"
                [style]="{'width':'190px'}"></p-dropdown>
  </div>
  <label for="model_id">Компания:</label><br/>
  <div *ngIf="companies.length">
    <p-dropdown id="company_id" [options]="companies | DropDown"
                formControlName="company_id" [filter]="true"
                [style]="{'width':'190px'}"></p-dropdown>
  </div>
  <hr/>
  <button type="submit" class="ui-button-success" [disabled]="!form.valid || submit" icon="fa-check" pButton
          label="Изменить"></button>
  <button pButton type="button" label="Отмена" routerLink="/admin/companies"></button>
</form>
