<div class="jumbo">
    <div class="container">
        <div class="row jumbo-row">
            <div class="col-md-12">
                <div class="laptop"></div>
                <h1 style="text-align: center; color: #fff; position: inherit;">Полный контроль за автопарком</h1>
                <h2 style="text-align: center; color: #fff; position: inherit;">в режиме реального времени</h2>
            </div>
        </div>
    </div>
</div>
<div class="dark-row">
    <div class="container">
        <div class="row after-laptop-row">
            <div class="col-md-12">
                <h2 class="text-center">Интеллектуальная Система Управления Автотранспортом (ИСУА)</h2>
                <p>В рамках НТИ «Автонет» фонда содействия развитию малого предпринимательства в научно-технической сфере, наша
                    компания выиграла Грант на разработку ИСУА (интеллектуальной системы управления автотранспортом).</p>
                <p>Данная система разработана для мониторинга работы спецтехники, грузовиков, экскаваторов, погрузчиков и т.д.
                    с целью предотвращения аварий, связанных с работой двигателя. Система способна не только передавать данные
                    в реальном времени, но и оповещать водителя и оператора о возможной неисправности, которая может произойти
                    в ближайшее время. Более того система будет выдавать рекомендации для предотвращения аварий, основываясь
                    на собранных данных с множества датчиков, установленных на двигатель.</p>
                <p>В системе заложены тщательно проработанные сценарии, по которым принимается решения о рекомендациях для дальнейшей
                    безопасной эксплуатации техники.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 content-panel">
                <img src="assets/images/247.svg" alt="" width="80px">
                <h3>Мониторинг работы техники
                    <br>в режиме 24/7</h3>
                <ul>
                    <li>Информация собранная с датчиков поступает на собственные сервера компании, где обрабатывается и формируется
                        в графики и таблицы.</li>
                </ul>
            </div>
            <div class="col-md-4 content-panel">
                <img src="assets/images/bell.svg" alt="" width="80px">
                <h3>Мгновенные уведомления о неисправностях</h3>
                <ul>
                    <li>Информирование о неисправностях в работе ДВС, а так же рекомендации по их устранению, высылаются автоматически
                        главному механику/руководителю организации, контролирующую данную технику (СМС, мессенджеры, e-mail).</li>
                </ul>
            </div>
            <div class="col-md-4 content-panel">
                <img src="assets/images/report.svg" alt="" width="80px">
                <h3>Отчеты по работе техники
                    <br> за любой период времени</h3>
                <li>Программное обеспечение, основываясь на показаниях телеметрии с датчиков прогнозирует возможные неисправности
                    ДВС.
                </li>
                <li>Тщательно проработанные сценарии по каждому типу двигателей, гарантируют высокую степень точности прогнозов
                    и своевременное принятие мер по предотвращению аварий на двигателе.</li>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row padded-row">
        <div class="col-md-4">
            <img src="assets/images/monitor.png" alt="">

        </div>
        <div class="col-md-8">
            <h2>Дисплей водителя</h2>
            <p>Информация собранная с датчиков поступает на монитор водителя в реальном времени.</p>
        </div>
    </div>
</div>