<div class="jumbo">
    <div class="container">
        <div class="row jumbo-row">
            <div class="col-md-12">
                <div class="laptop"></div>
                <h1 style="text-align: center; color: #fff; position: inherit;">Полный контроль за автопарком</h1>
                <h2 style="text-align: center; color: #fff; position: inherit;">в режиме реального времени</h2>
            </div>
        </div>
    </div>
</div>
<div class="dark-row">
    <div class="container">
        <div class="row after-laptop-row">
            <div class="col-md-12">
                <h2>Интеллектуальная Система Управления Автотранспортом (ИСУА)</h2>
                <p>
                В рамках НТИ «Автонет» фонда содействия развитию малого предпринимательства в научно-технической сфере, наша компания выиграла Грант на разработку ИСУА (интеллектуальной системы управления автотранспортом).
                </p><p>
                Данная система разработана для мониторинга работы спецтехники, грузовиков, экскаваторов, погрузчиков и т.д. с целью предотвращения аварий, связанных с работой двигателя. Система способна не только передавать данные в реальном времени, но и оповещать водителя и оператора о возможной неисправности, которая может произойти в ближайшее время. Более того система будет выдавать рекомендации для предотвращения аварий, основываясь на собранных данных с множества датчиков, установленных на двигатель.
                </p><p>
                В системе заложены тщательно проработанные сценарии, по которым принимается решения о рекомендациях для дальнейшей безопасной эксплуатации техники.
                </p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 content-panel">
                <img src="/assets/images/247.svg" alt="" width="80px">
                <div class="desc">
                    <h3>Мониторинг работы техники<br>в режиме 24/7</h3>
                    <p>Информация собранная с датчиков поступает на собственные сервера компании, где обрабатывается и
                        формируется в графики и таблицы.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 content-panel">
                <img src="/assets/images/bell.svg" alt="" width="80px">
                <div class="desc">
                    <h3>Мгновенные уведомления о неисправностях</h3>
                    <p>Информирование о неисправностях в работе ДВС, а так же рекомендации по их устранению, высылаются
                        автоматически главному механику/руководителю организации, контролирующую данную технику (СМС,
                        мессенджеры, e-mail)</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 content-panel">
                <img src="/assets/images/report.svg" alt="" width="80px">
                <div class="desc">
                    <h3>Прогнозирование неисправностей<br> на основе показаний телеметрии
                    </h3>
                    <p>Тщательно проработанные сценарии по каждому типу двигателей, гарантируют высокую степень точности
                        прогнозов и своевременное принятие мер по предотвращению аварий на двигателе.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="dark-blue-row">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/i.png" width="100%" alt="">
            </div>
            <div class="col-md-6">
                <h2>Эксплуатационные преимущества комплекса ИСУА</h2>

                <p class="large li-ok">Пыле- и влагозащищенный металлический корпус блока управления</p>
                <p class="large li-ok">Прочные и герметичные разъемы подключения датчиков и основного питания</p>
                <p class="large li-ok">Термостойкие металлические корпуса датчиков, выполненные по промышленным стандартам</p>

            </div>
        </div>


    </div>

</div>

<div class="dark-row">
    <div class="container">
        <div class="row padded-row">
            <div class="col-md-4 md-centered">
                <img src="/assets/images/monitor.png" alt="" width="75%">

            </div>
            <div class="col-md-8 md-centered">
                <h2>Дисплей водителя</h2>
                <h3>Информация, собранная с датчиков, поступает на монитор водителя в реальном времени. Водитель будет информирован о всех возможных неисправностях в работе двигателя с звуковым и визуальным сопровождением</h3>
            </div>
        </div>
    </div>
</div>
<div class="dark-blue-row">
    <div class="container">
        <div class="row padded-row">
            <div class="col-md-4">
                <img src="/assets/images/engine.png" width="100%" alt="" class="sm-hidden">

            </div>
            <div class="col-md-8">
                <h2>Блок сбора данных термопар «Паук»</h2>
                <p class="large">
                    Наши инженеры, провели углубленный анализ работы двигателей и причины их выхода из строя,
                    в результате чего выявлена потребность контролировать температуру выхлопных газов с каждого
                    цилиндра.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="dark-row inverted">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="position: relative">
                <div class="paper">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 style="text-align: center">Как это работает</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="row"  style="padding-bottom: 30px">
                        <div class="col-md-4 content-panel step">
                            <img src="/assets/images/settings.svg" alt="" width="80px">
                            <div class="desc">
                                <h3>Сборка двигателя</h3>
                                <p>Термопары устанавливаются в специальные отверстия во впускном коллекторе</p>
                            </div>
                        </div>
                        <div class="col-md-4 content-panel step">
                            <img src="/assets/images/thumbsup.svg" alt="" width="80px">
                            <div class="desc">
                                <h3>Завершение сборки</h3>
                                <p>Производится укладка проводов и их подключение к блоку сбора данных</p>
                            </div>
                        </div>
                        <div class="col-md-4 content-panel step">
                            <img src="/assets/images/key.svg" alt="" width="80px">
                            <div class="desc">
                                <h3>Запуск двигателя</h3>
                                <p>Начинается сбор температурных данных</p>
                            </div>
                        </div>
                    </div>
                    <div class="row annotation">
                        <div class="col-md-6">
                            <p class="large">
                                Опрос датчиков происходит до 50 раз в секунду, это позволяет моментально наблюдать за
                                малейшими изменениями.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="large">
                                Погрешность измерений составляет не более 1 °С, что позволяет максимально точно
                                определять температуру выхлопных газов на каждом из цилиндров двигателя.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="dark-blue-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Технические характеристики</h2>
                <p class="large li-bull">Блок сбора данных термопар выполнен в металлическом корпусе и абсолютно герметичен.
                </p>
                <p class="large li-bull">
                    Внутренние компоненты жестко закреплены внутри и имеют промышленный диапазон рабочих
                    температур.
                </p>
                <p class="large li-bull">
                    Для связи между блоком сбора данных и блоком управления используются высокопрочные и
                    герметичные разъемы.
                </p><p class="large li-bull">
                Термопары выполнены в цельнометаллическом корпусе и способны выдерживать температуру
                свыше 1000 °С в течении достаточно длительного времени.
            </p><p class="large li-bull">
                Провода, подключаемые к термопарам, выполнены с использованием стекловолокна и внешним
                покрытием из армированной оплётки, что предает проводам высокую степень защищенности от
                внешних воздействий.
            </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr>
            <h2>Универсальность</h2>
            <p class="large">
                «Паук» способен работать как под управлением ИСУА,
                так и автономно, передавая данные температур на сервер самостоятельно,
                используя встроенный модуль GSM.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Эффективность применения</h2>
            <p class="large">
                Комплекс «Паук» разрабатывался для выявления аварийных ситуаций на двигателях,
                связанных с не корректной работой топливной системы и газораспределительного механизма.
                Контроль за показаниями температуры выхлопных газов позволяет своевременно выявить
                неисправность и тем самым предотвратить такие неисправности как:
            </p>
            <ul class="large">
                <li>Задир ЦПГ</li>
                <li>Прогар поршней, клапанов, коллектора и горячей улитки турбокомпрессора</li>
            </ul>
            <p class="large">и предотвратить дорогостоящий ремонт и простой техники.</p>
        </div>
    </div>
</div>
<div class="pit-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Перспективные разработки</h2>
                <p class="large">В ближайшей перспективе мы планируем усовершенствовать наш комплекс,
                    добавив количество датчиков и сенсоров,
                    а также добавить подсистему удаленного управления двигателем и предотвращения аварий
                    в автоматическом режиме для исключения человеческого фактора в процессе эксплуатации.
                </p>
            </div>
        </div>
    </div>
</div>